/* Global Style */

body {
  border-top: 3px #ffba04 solid;
  background-color: #dedede;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  background-color: white;
  padding-top: 1em;
}

h1 {
  font-size: 2.8em;
  color: #ffba04;
  font-weight: bold;
}

p {
  font-size: 1.1em;
}

/* Header Style */

#logo img{
  height: 100px;
  width: 100px;
  margin-top: -2.5em;
  
}

.hobo {
  font-family: "Hobo Std", serif;
  text-align: center;
}

.region-content {
  padding-bottom: 3em;
}

/* Navbar Style */

.navbar {
  padding-top: 2em;
}

.navbar-default {
  background-image: none;
  background-color: white;
  border: none;
  box-shadow: none;
}

.navbar-right {
  margin-top: 2em;
}

.navbar-header {
  border: none;
}

.navbar-collapse {
  border: none;
}


/* Slider */
.slider h3 {
  font-size: 4em;
  font-weight: bolder;
  font-family: 'Hobo Std', sans-serif;
}

.slider .btn {
  font-size: 1.5em;
  color: white;
  border: 1px solid white;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.slider .btn:hover {
  background-color: white;
}

.btn-video:hover {
  color: #d6412a;
}

.btn-fest:hover {
  color: #ffba04;
}

.apply-btn {
  border: 1px solid #d6412a;
  color: #d6412a !important;
  border-radius: 0.5em;
}

.apply-btn a {
  color: #d6412a !important;
}

.apply-btn a:hover {
  background-color: #d6412a !important;
  color: white !important;
}


/* icons */

.icons {
  margin-top: 2em;
}

.icons img {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.icons ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  padding-left: 0;
}


/* =====================
Footer Blocks
======================= */

.social {
  padding-bottom: 3em;
}
#block-views-blog-block-1 h2 {
  text-align: center;
  font-size: 40px;
  color: #ffba04;
  border-bottom: 1px solid #ffba04;
  padding-bottom: 20px;
  font-family: "Hobo Std", sans-serif;
  font-weight: lighter;
}

#block-views-blog-block-1 .views-field-title a{
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

.social-link {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.social-link img{
  margin-right: 15px;
}

.get-updated {
  color: #ffba04;
  font-family: "Hobo Std", sans-serif;
  text-align: center;
}


/* Footer Block */
#block-views-blog-block-1 {
  padding: 1em 2em;
}


/* Footer */
footer {
  height: 100px;
  background-color: #404040;
  padding-top: 25px;
  color: white;
  
}

.mjff {
  padding-left: 50px;
  margin-top: -60px;
  text-align: center;
  text-transform: uppercase;
}

footer p {
  font-size: 14px;
}

/* Views page */

.view-display-id-page .views-row-last {
  margin-bottom: 5em !important;
}

.view-display-id-page .views-row {
  padding: 1em;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  border-radius: 20px;
}

.view-display-id-page .views-row .views-field-title a {
  font-size: 1.4em;
  display: block;
  min-height: 2.8em;
}

.view-display-id-page .views-field-field-banner {
  display: block;
  float: left;
}

.view-display-id-page .views-field-field-banner img {
  margin: 0em 1em 0 1em;
}

/* Recap Page */
.field-name-field-photo-gallery img {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 5px solid #ccc;
}